.delete-icon {
    padding: 2px 5px;
    border-radius: 50%;
    background-color: #dcdcdc;
    color: #fff !important;
}

.label-hidden {
    display: none !important;
}
.label-hidden.error {
    display: block !important;
}
